# Connection Strings
ConnectionStrings__DefaultConnection=
# Redis Settings
Redis__ConnectionString=
Redis__InstanceName=
Redis__DefaultTtlMinutes=

# JWT Settings
Jwt__Key=
Jwt__Issuer=
Jwt__Audience=
Jwt__ExpiresIn=

# RabbitMQ Settings
RabbitMq__Host=
RabbitMq__Port=
RabbitMq__VirtualHost=
RabbitMq__Username=
RabbitMq__Password=
RabbitMq__SubmissionProcessingQueueName=
RabbitMq__MaxRetryAttempts=
RabbitMq__DlxName=
RabbitMq__DlqName=

# Training Directory Settings
TrainingDirectory__BaseUrl=
TrainingDirectory__TimeOutSeconds=

# File Storage Configurations
FileStorage__RootPath=
FileStorage__MaxFileSizeBytes=