RabbitMq__Host=
RabbitMq__Port=
RabbitMq__VirtualHost=
RabbitMq__Username=
RabbitMq__Password=
RabbitMq__SubmissionProcessingQueueName=

ConnectionStrings__DefaultConnection=
Redis__ConnectionString=
Redis__InstanceName=
Redis__DefaultTtlMinutes=

Jwt__Key=
Jwt__Issuer=
Jwt__Audience=
Jwt__ExpiresIn=

FileStorage__RootPath=
FileStorage__MaxFileSizeBytes=

DbSeeder_Password=
DbSeeder_Username=